{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr class="bold">
                <td>Symbol</td>
                <td>Name</td>
                <td>Shares</td>
                <td>Price</td>
                <td>TOTAL</td>
            <tr>
        </thead>
        {% for stock in portfolio %}
            <tbody>
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td id="stock-name">{{ stock.name }}</td>
                    <td>{{ stock.shares }}</td>
                    <td>{{ stock.price }}</td>
                    <td>{{ stock.total }}</td>
                </tr>
            </tbody>
        {% endfor %}
        <tr>
            <td>CASH</td>
            <td colspan="3" ></td>
            <td>{{ remaining_cash }}</td>
        </tr>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td><b>{{ portfolio_total }}</b></td>
            </tr>
        </tfoot>
    </table>
{% endblock %}